$body-color: rgb(59,66,99);
$blue-color: rgb(77,113,250);
$light-gray: rgb(230, 230, 231);
$dark-gray: rgb(83,85,93);
$skin-color: rgb(255,206,137);
$pants-color: rgb(60,91,146);
$light-green: rgb(135,195,87);
$dark-green: rgb(75,158,106);
$yellow: #ffba00;
